[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "segregation"]
	path = segregation
	url = https://github.com/elbersb/segregation
[submodule "tidylog"]
	path = tidylog
	url = https://github.com/elbersb/tidylog
